doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   article.container
     each person in people
       div.person
         img(src=`/images/${person.imgSrc}`, alt="Immagine", style="width: 100px; height: auto;")
         h2.person-name
           | #{person.firstname} #{person.lastname}
         a(type="button" href=`/profile?id=${person.id}`)
           | View Profile