doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title} (fatto da Raffo)
   div.profile
     img(src=`/images/${person.imgSrc}`, alt="Immagine", style="width: 100px; height: auto;")
     div.profile-details
       h1.profile-name
         | #{person.firstname} #{person.lastname}
       h2.profile-tagline
         | #{person.tagline}
       p.profile-bio
         | #{person.bio}
       a.button.button-twitter(href=`${person.twitter}`)
         | Follow me on Twitter